<div class="post">
  <h3 class="post-title">{{post.title}}</h3>
  <p class="post-content">{{post.content}}</p>
  <p class="post-info">Created by: {{post.user.name}} | Created at: {{formatDate post.date_created}}</p>
</div>

{{#if comments}}
<div class="comments">
  <h4>Comments</h4>
  {{#each comments}}
  <div class="comment">
    <p>{{this.content}}</p>
    <p class="comment-info">Commented by: {{this.user.name}} | Commented at: {{formatDate this.date_created}}</p>
    {{#ifCond this.user.id ../loggedInUser.id}}
    <form class="delete-comment-form" action="/api/comments/{{this.id}}?_method=DELETE" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <button class="button is-danger delete-comment-button" type="submit">Delete</button>
    </form>
    {{/ifCond}}
  </div>
  {{/each}}
</div>
{{else}}
<p>No comments yet.</p>
{{/if}}

<form class="comment-form" action="/api/comments/create" method="POST">
  <input type="hidden" name="post_id" value="{{post.id}}">
  <textarea name="content" placeholder="Add a comment"></textarea>
  <button class="button is-primary comment-button" type="submit">Comment</button>
</form>