<div class="container">
  <div class="menu-container">
    <div class="card-header">
      <h2 class="dashboard-title">Dashboard</h2>
    </div>
    <div class="post-list">
      {{#each posts}}
      <div class="post">
        <h3 class="post-title">
          <a href="/thread/{{id}}">{{title}}</a>
        </h3>
        <p class="post-content">{{content}}</p>
        <p class="post-info">Created by: {{user.name}} | Created at: {{formatDate date_created}}</p>
        {{#if (isCurrentUserPostOwner user loggedInUser)}}
        <button class="button is-danger delete-post-button" data-post-id="{{id}}">Delete</button>
        {{/if}}
      </div>
      {{/each}}
    </div>
    <div class="add-post-button">
      <a href="/newpost" class="button is-success btn-add">+</a>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function formatDate(date) {
    return new Date(date).toLocaleString();
  }

function isCurrentUserPostOwner(postUser, loggedInUser) {
  return postUser && loggedInUser && postUser.id === loggedInUser.id;
}

module.exports = { isCurrentUserPostOwner };


  $(document).ready(function () {
    $('.delete-post-button').on('click', function () {
      var postId = $(this).data('post-id');

      // Send AJAX request to delete the post
      $.ajax({
        url: '/api/posts/' + postId,
        method: 'DELETE',
        success: function (response) {
          // Refresh the page after successful deletion
          location.reload();
        },
        error: function (err) {
          console.log(err);
        }
      });
    });
  });
</script>